<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Backlog</title>
  <link rel="stylesheet" href="/style.css">
  <link 
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2b3245;">
    <a class="navbar-brand" href="#">Backlog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/addItem.html">Add <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Your Backlog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Information.html">What is this About?</a>
        </li>
        </li>
      </ul>
    </div>
  </nav>
  
  <h1>Backlog</h1>

<% for(let i = 0; i < Items.length; i++ ) { %>
  <div class="card">
    
    <img src="<%= Items[i].image %>"></img>

    <p>Name: <%= Items[i].name_item %></p>
    
    <p>Type: <%= Items[i].type %></p>

    <p>Last Engaged: <%= Items[i].last_engaged %></p>
    
    <p>Progess: <%= Items[i].progress %> %</p>

    <center>
    <form class= "update" name = "<%= Items[i]._id %>">
      <label>Update Progress </label>
      <input type="number" name="progress" required /></br>
      <button type="submit"> Edit </button>
    </form>
      <button class= "delete" value = "<%= Items[i]._id %>">Remove</button>
    </center>
  </div>
  <% }  %>


    <script src="addItem.js">

  <script src="https://code.jquery.com/jquery-    3.3.1.slim.min.js"integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"crosso rigin="anonymous"></script>
</body>
</html>